.form {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 1em;
}

.form label {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  width: 90%;
}

.form textarea {
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 300;
  color: white;
  background: #3b4877;
  width: 100%;
  min-height: 75px;
  resize: none;
  overflow: auto;
  margin-block: 1em;
  padding: 0.75em;
  border-radius: 10px;
  border: none;
}

.form textarea::placeholder {
  font-size: 0.875rem;
  color: white;
  opacity: 0.75;
}

.form button {
  font-family: inherit;
  font-size: 1.75rem;
  font-weight: 700;
  color: #000c36;
  width: 100%;
  padding: 0.5em;
  background: #51e08a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form button:hover,
.form button:focus {
  background-color: #51e08aaa;
}
